.btn,
.jumbotron,
.nav :hover {
  border-radius: 0px;
}

body {
  background: #343a40;
}
.form-container{
  width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}


.bg-background{
  background: #343a40;
}
.bg-img{
    height: 148px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

